<div class="card">
    <div class="card-body">
        <h1>{{livro.titulo}}</h1>
        <hr />
        <small>Data de publicação: {{livro.data}}</small><br />
        <small>Número de páginas: {{livro.paginas}}</small><br />
        <small>Autor: {{livro.autor}}</small><br />
        <small>Editora: {{livro.editora}}</small><br />
        <hr />
        {{livro.descricao}}
    </div>
</div>